@import url("./common.css");

header nav h1 img {
  filter: brightness(100);
}
header nav h1:hover img {
  filter: none;
}
header nav #gnb {
  right: calc(100vw * 135 / 1920);
}

/* html,
body {
  height: 100%;
  background: #eee;
} */
/* body {
  overflow: hidden;
} */
.scroll-animations-example .scrollsection {
  /* padding: 10vh 10vh 10vh 10vmax; */
  /* min-width: 550vh; */
  /* border: 5px solid red; */
  overflow: hidden;
  height: calc(100vh - 90px);
  height: 500px;
  padding-left: 185px;
  width: 6100px;
}
.scroll-animations-example .scrollsection .textContainer {
  /* border: 1px solid green; */
  /* position: absolute; */
  /* z-index: 5 !important; */
  background-color: rgb(67, 95, 255);

}
.scroll-animations-example .scrollsection .textContainer > div {
  position: absolute;
}
.scroll-animations-example .scrollsection .textContainer div[class^="mainKw"] {
  /* border: 1px solid red; */
  width: max-content;
  z-index: 99;
}
.scroll-animations-example .scrollsection .textContainer div[class^="mainKw"] h2 {
  /* font-family: 'inter'; */
  font-size: 160px;
  font-weight: 800;
  color: #000;
  text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;
  /* letter-spacing: -0.05em; */
}
.scroll-animations-example .scrollsection .textContainer div[class^="mainKw"] h2 .textLine {
  color: #fff;
  text-shadow: none;
}
.scroll-animations-example .scrollsection .textContainer p {
  /* margin-top: 10px; */
  font-size: 20px;
  font-weight: 200;
  text-align: justify;
  letter-spacing: 0.02em;
  white-space: normal;
}
/* .scroll-animations-example .scrollsection .textContainer div[class^="mainKw"] p {
  margin-top: 15px;
  width: 500px;
} */
.scroll-animations-example .scrollsection .textContainer div[class^="subKw"] {
  z-index: 99;
}
.scroll-animations-example .scrollsection .textContainer div[class^="subKw"] h3 {
  font-size: 28px;
  font-weight: 500;
}
.scroll-animations-example .scrollsection .textContainer div[class^="subKw"] p {
  /* border: 1px solid rgb(60, 0, 128); */
  margin-top: 15px;
  line-height: 140%;
}
.scroll-animations-example .scrollsection .textContainer div[class^="subKw"] p span {
  font-weight: 700;
  color: #000;
}
.scroll-animations-example .scrollsection .textContainer .mainKw01 {
  /* background-color: rgb(60, 0, 128); */
  top: 150px;
}
.scroll-animations-example .scrollsection .textContainer .mainKw01 p {
  margin-top: 5px;
}
.scroll-animations-example .scrollsection .textContainer .mainKw02 {
  /* background-color: rgb(60, 0, 128); */
  top: 150px;
  left: 2700px;
}
.scroll-animations-example .scrollsection .textContainer .mainKw02 h2 div {
  /* line-height: 140px; */
  position: relative;
  top: -25px;
}
.scroll-animations-example .scrollsection .textContainer .mainKw02 p {
  /* margin-top: 15px; */
  position: relative;
  width: 500px;
  top: -10px;
}
.scroll-animations-example .scrollsection .textContainer .mainKw03 {
  /* background-color: rgb(60, 0, 128); */
  top: 307px;
  left: 4490px;
}
.scroll-animations-example .scrollsection .textContainer .mainKw03 span {
  font-family: 'inter';
}
.scroll-animations-example .scrollsection .textContainer .subKw01 {
  /* background-color: rgb(60, 0, 128); */
  /* border: 1px solid rgb(60, 0, 128); */
  width: 580px;
  top: 560px;
  left: 925px;
}
.scroll-animations-example .scrollsection .textContainer .subKw02 {
  width: 650px;
  top: 60px;
  left: 1695px;
}
.scroll-animations-example .scrollsection .textContainer .subKw03 {
  width: 590px;
  top: 650px;
  left: 3125px;
}
.scroll-animations-example .scrollsection .textContainer .subKw04 {
  width: 620px;
  top: 90px;
  left: 3707px;
}
.scroll-animations-example .scrollsection .textContainer .subKw05 {
  width: 510px;
  top: 530px;
  left: 4771px;
}
.scroll-animations-example .scrollsection .textContainer .subKw06 {
  width: 490px;
  top: 328px;
  /* left: 5432px; */
  left: 5534px;
}











/* 이미지 사진 */
.scroll-animations-example > .scrollsection > .item {
  display: inline-block;
  position: relative;
  margin: 0 -20vh 0 4vh;
  opacity: 0.5;
}
.scroll-animations-example > .scrollsection > .item:hover {
  opacity: 1;
}
.scroll-animations-example > .scrollsection > .item.-big {
  height: 80vh;
  width: 60vh;
}
.scroll-animations-example > .scrollsection > .item.-big.-horizontal {
  height: 60vh;
  width: 100vh;
}
.scroll-animations-example > .scrollsection > .item.-normal {
  height: 60vh;
  width: 45vh;
  z-index: 1;
}
.scroll-animations-example > .scrollsection > .item.-normal.-horizontal {
  height: 45vh;
  width: 60vh;
}
.scroll-animations-example > .scrollsection > .item.-normal:nth-of-type(3n) {
  bottom: 5vh;
}
.scroll-animations-example > .scrollsection > .item.-normal:nth-of-type(4n) {
  bottom: -5vh;
}
.scroll-animations-example > .scrollsection > .item.-small {
  height: 45vh;
  width: 30vh;
  z-index: 2;
}
.scroll-animations-example > .scrollsection > .item.-small.-horizontal {
  height: 30vh;
  width: 45vh;
}
.scroll-animations-example > .scrollsection > .item.-small:nth-of-type(3n) {
  bottom: 13vh;
}
.scroll-animations-example > .scrollsection > .item.-small:nth-of-type(4n) {
  bottom: -13vh;
}
.scroll-animations-example > .scrollsection > .item > .image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(1);
  opacity: 0;
  pointer-events: none;
  transform: translateX(0) translateY(0) scale(1);
  transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
  /* border: 3px solid rgb(57, 93, 255); */
}
.scroll-animations-example > .scrollsection > .item:nth-of-type(4n) > .image {
  transform: translateX(-30vh) translateY(-30vh) scale(0.8);
  transition-delay: 0;
}
.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 1) > .image {
  transform: translateX(30vh) translateY(30vh) scale(0.8);
  transition-delay: 0.05s;
}
.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 2) > .image {
  transform: translateX(-30vh) translateY(30vh) scale(0.8);
  transition-delay: 0.1s;
}
.scroll-animations-example > .scrollsection > .item:nth-of-type(4n - 3) > .image {
  transform: translateX(-30vh) translateY(-30vh) scale(0.8);
  transition-delay: 0.15s;
}
.scroll-animations-example > .scrollsection > .item > .image.-active {
  transform: translateX(0) translateY(0) scale(1);
  opacity: 0.8;
  pointer-events: auto;
  transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
}
.scroll-animations-example > .scrollsection > .item > .image.-clicked {
  transform: translateX(0) translateY(0) scale(5);
  opacity: 0;
  pointer-events: auto;
  transition: filter 0.3s ease, opacity 1s ease, transform 1s ease;
}
.scroll-animations-example > .scrollsection > .item > .image.-active:hover {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: grayscale(0);
  opacity: 1;
  cursor: pointer;
}