@import url("./reset.css");

/* html {
  background-color: #000;
} */
.inner {
  padding: 0 calc(100vw * 130 / 1920);
}
.hidden {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  line-height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}
:root {
  --purple: #A22EE2;
  --pink: #CD69D1;
  --yellow: #FFE396;
  --gray: #999;
  --ivory: rgb(255, 255, 230);
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--purple),var(--pink));
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background: var(--yellow);
}
/* ------------------------------------------------------ header */
header {
  position: fixed;
  width: 100%;
  min-width: 400px;
  height: 90px;
  top: 0;
  left: 0;
  background-color: #000;
  border-bottom: 1px solid var(--gray);
  transition: top 1s;
  z-index: 9;
}
header nav {
  font-size: 20px;
  font-weight: 200;
  line-height: 90px;
}
header nav h1 {
  display: inline-block;
  position: absolute;
}
header nav h1 img {
  position: relative;
  top: 15px;
}
header nav #gnb {
  display: flex;
  position: absolute;
  right: calc(100vw * 130 / 1920);
  font-family: 'Inter', sans-serif;
}
header nav #gnb li {
  color: #fff;
  margin-left: calc(100vw * 100 / 1920);
}
header nav #gnb li:hover {
  color: var(--yellow);
}
header nav #gnb li.active {
  color: var(--yellow);
}
header nav #gnb li:focus {
  color: var(--yellow);
}
/* ------------------------------------------------------ content */
#wrap {
  overflow-x: hidden;
  padding-top: 90px;
  color: #fff;
  background-color: #000;
}
span[class^='highlight_'] {
  padding: 0 3px;
  width: fit-content;
  font-weight: 500;
}
.highlight_purple {
  /* padding: 0 3px;
  width: fit-content;
  font-weight: 500; */
  /* color: #fff; */
  background: linear-gradient(transparent 10%, var(--purple) 10% 90%, transparent 90%);
}
.highlight_pink {
  /* padding: 0 3px;
  width: fit-content;
  font-weight: 500; */
  /* color: #fff; */
  background: linear-gradient(transparent 10%, var(--pink) 10% 90%, transparent 90%);
}
.highlight_yellow {
  /* padding: 0 3px;
  width: fit-content;
  font-weight: 500; */
  /* color: #fff; */
  background: linear-gradient(transparent 10%, var(--yellow) 10% 90%, transparent 90%);
}
.color_purple {
  font-weight: 500;
  color: var(--purple);
}
.color_pink {
  font-weight: 500;
  color: var(--pink);
}
.color_yellow {
  font-weight: 500;
  color: var(--yellow);
}
/* ------------------------------------------------------ works */
/* .highlight_purple {
  width: fit-content;
  font-weight: 500;
  color: #fff;
  background: linear-gradient(transparent 10%, var(--purple) 10% 90%, transparent 90%);
} */

.worksBox .worksInfo1 p.class {
  font-size: 16px;
  /* font-weight: 300; */
}
.worksBox .worksInfo1 p.highlight_purple {
  margin: 10px 0 15px;
  font-size: 40px;
  font-weight: 700;
}
.worksBox .worksInfo1 p.comment {
  font-size: 20px;
  /* font-weight: 300; */
  letter-spacing: 0.02em;
}
.worksBox .worksInfo1 p.comment::before {
  display: inline-block;
  margin-right: 5px;
  width: 13px;
  height: 15px;
  content: "";
  background: url("../img/comment_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}