* {
  margin: 0; padding: 0;
}
section {
  width:max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
h1, h2 {
  font-size: 3rem;
}
h2 {
  margin-top: 1%;
}
h1 span, h2 strong {
  color: blue;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: blue;
  width: max-content;
  margin: 2% auto 0;
}
